/* -----  broader styles  ------ */
body {
    background-color: #d2abee;    
    font-family: 'Courier New', Courier, monospace;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: crosshair;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
}

.linktree {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

ul li {
    display: grid;
    text-align: center;
    padding: 60px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 20px;
    opacity: 40%;
}

ul li:hover {
    cursor: pointer;
    background-color: #000000;
    opacity: 70%;
    transition-property: text-decoration, background-color;
    transition-duration: 500ms, 500ms;
    border-radius: 3%;
}

ul li:hover a {
   color: #fff;
   opacity: 70%;
   font-weight: 600;
   transition-property: font-weight;
   transition-duration: 100ms;
}

.link:hover {
    color: #fff;
    opacity: 100%;
    text-decoration: underline #fff;
    transition: opacity 500ms linear;
}

@media only screen and (max-width: 1393px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    ul li {
        padding: 40px;
    }
}

@media only screen and (max-width: 860px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }

    ul li {
        padding: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .header {
        left: 50%;
        transform: translateX(-50%);
    }

    .linktree {
        top: 52%;
        left: 50%;
    }
    
    ul {
        grid-template-columns: 1fr 1fr;
        padding-inline-start: 0px;
    }
    
    ul li {
        padding: 25px;
    }

    

    .link {
        font-size: 16px;
        opacity: 40%;
    }
}
